body{
    background-image: url(/images/circle-scatter-haikei\ \(2\).png);
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FBAE3C;
}